extends ../base

block contents
    h3=video.title
    h5 #{video.views} #{video.views === (0||1) ? "view" : "views"}
    small=video.createdAt
    p=video.description
    ul
        each hashtags in video.hashtags
            li=hashtags
    
    hr
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;